h1{
    font-size:20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin:20px;
}

#imageList img{
    width:200px;
    height:200px;
    margin: 20px;
}

#results{
    display:none;
    border:0;
    margin:20px;
}
#results:hover{
    background-color:lightgreen;
}
#results:focus{
    outline: none;
}
ul{
    margin:20px;
}

#myCanvas{
    display: inline
    width:20%;
    height:10%;   
}